<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin: 0px;">
  <div class="container">
    <div class="navbar-header">
        <img src="../../../../favicon.ico" alt="Icono" width="32" height="32" style="margin: 10px 0px 0px 10px;">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="./app/create">Create Publication</a></li>
        <li><a href="./app/my-publications">My Publications</a></li>
        <li><a href="./app/see-all">See All Publications</a></li>
        <li><a href=""><button (click)="onClick()">Logout</button></a></li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
