<div style="display: flex; justify-content: center;">
  <div style="display: flex; flex-direction: column; align-items: center; text-align: center;">
    <span class="title mt-8">My publications</span>
    <br>
    <span class="subtitle-1 mt-4">Words to Search?</span>
    <mat-form-field class="equal-width">
      <input maxlength="100" minlength="3" type="text" placeholder="post" matInput>
    </mat-form-field>
    <span class="subtitle-1">My publications</span>
    <app-datepicker></app-datepicker>
    <!-- <app-message-component></app-message-component> -->
    <div class="card mt-5" *ngFor="let post of posts$ | async" >
      <div class="container-card" >
        <div class="card-title" id="cardTitle"><h4><b>{{ post.title }}</b></h4></div>
        <div class="content-card pt-10" id="cardContent">
           <div class="max-width-div">{{ post.content }}</div>
           <div class="container-info-post">
            <div style="margin-top: 10px; font-size: smaller; color: aqua; ">{{ post.created_at }}</div>
            <div class="spacer"></div>
            <div style="margin-top: 10px; font-size: smaller; color: aqua; margin-right: 20px;">{{ post.user_name }}</div>
          </div>
        </div>
      </div>
    </div>

    <app-paginator class="mt-8" ></app-paginator>
  </div>
</div>

